spring.application.name=notification-service

# spring.security.enabled=false
logging.level.org.springframework.security=DEBUG
server.port=8000

spring.amqp.deserialization.trust.all=true

spring.amqp.deserialization.trust.all=true


# RabbitMQ configuration
spring.rabbitmq.host=${SPRING_RABBITMQ_HOST:rabbitmq}
spring.rabbitmq.port=${SPRING_RABBITMQ_PORT:5672}
spring.rabbitmq.username=${RABBITMQ_DEFAULT_USER:rabbitmqusername}
spring.rabbitmq.password=${RABBITMQ_DEFAULT_PASS:rabbitmqpassword}




# SMTP integration
smtp.host=smtp.gmail.com
smtp.port=587
smtp.username=eventgo.esd@gmail.com
smtp.password= zjuajpixtnyygyqr
email.from=eventgo.esd@gmail.com


=======
# Twilio configuration
twilio.accountSid=${TWILIO_ACCOUNT_SID:defaultAccountSid}
twilio.authToken=${TWILIO_AUTH_TOKEN:defaultAuthToken}
twilio.phoneNumber=${TWILIO_PHONE_NUMBER:+18066212678}